APP_NAME=Coches
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

# ======================
# DATABASE (DOCKER)
# ======================
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=coches
DB_USERNAME=root
DB_PASSWORD=root

# ======================
# SESSION / CACHE
# ======================
SESSION_DRIVER=database
SESSION_LIFETIME=120

CACHE_STORE=database
QUEUE_CONNECTION=database

# ======================
# FILES
# ======================
FILESYSTEM_DISK=local

# ======================
# MAIL (DEV)
# ======================
MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# ======================
# VITE
# ======================
VITE_APP_NAME="${APP_NAME}"
VITE_DEV_SERVER_URL=https://localhost:5173
